* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    height: 100vh;
  }
  
  a {
    color:   #c4953d;;
    text-decoration: none;
  }

  h3 {
      color: blanchedalmond;
      align-self: flex-start;
      text-align: end;
      padding-right: 10px;
  }
  
  .header { 
    display: flex;
    background: transparent;
    backdrop-filter: brightness(50%);
    width: 100%;
    height: 12%;
    position: absolute;
    border-bottom: 1px solid #acc4d4;
    
  }
  
  .header__content {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  .heart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    color: #c4953d;
    width: 32%;
    height: 100%;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100%;
  }

  .links img {
    width: 80%;
    border-radius: 50%;
  }
  
  .links:hover {
    box-shadow: inset 0 0px 20px 0 rgba(10, 10, 10, 0.53),0 0px 20px 0 rgba(10, 10, 10, 0.53);
  }

  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    flex-grow: 1;
    background-size: cover;
    background-image: url('/img/fondo2.jpg');
    
  }
  
  .section_content {
    margin-top: 230px;
    color: #c4953d;
    font-size: 50px;
    backdrop-filter: brightness(50%);
  }
  
  .navegator {
    display: flex;
    flex-direction: column;
    width: 18%;
    position: relative;
    background: rgb(0, 10, 14);
  }
  
  .navegator_head{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 12%;
    border-bottom:1px solid #acc4d4;
  }

  .navegator_links {
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: inset 0 0px 20px 0 rgb(1, 21, 29),0 0px 20px 0 rgb(1, 21, 29);
    color: #c4953d;
  }

  .navegator_links:hover {
    background-color: rgb(1, 21, 29);
  }

  .navegator_links_sm {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    width: 100%;
    height: 9%;
    text-align: center;
    box-shadow: inset 0 0px 20px 0 rgb(1, 21, 29),0 0px 20px 0 rgb(1, 21, 29);
    color: #c4953d;
  }

  .social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    width: 20%;
    height: 80%;
    background: #684402;
    border-radius: 50%;
  }
  .social_media img {
    width: 30px;
  }

  .social_media:active {
    width: 18%;
    height: 78%;
  }

  .button_container {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(6, 104, 134, 0.925);
      width: 25%;
      height: 80%;
      border-radius: 50%;
      border: 2px solid #684402;
  }

  .button {
    width: 85%;
    height: 85%;
    background-size: cover;
    background-image: url('/img/play_pause.png');
    background-position: 50%;
    border-radius: 50%;
    outline: none;
    border: 2px solid #684402;
  }

  .button_container:hover {
    border: 2px solid #c4953d
  }

  .button:hover {
    border: 2px solid #c4953d;
  }
  .button:active {
    width: 80%;
    height: 80%;
  }

  .text_container {
      display: flex;
      align-items: flex-end;
      width: 65%;
      height: 80%;    
  }

  .toggle_ligth {
    width: 12%;
    height: 20%;
    border-radius: 50%;
  }

  .on {
    border: 2px solid #def7dd;
    background-color: #079e02;
  }

  .off {
    border: 2px solid #ff0000;
    background-color: rgb(0, 0, 0);;
  }

  .on_off {
      color: #acc4d4;     
      width: 40%;
      height: 20%;
      font-size: 12px;
      margin-left: 10px;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    width: 82%;
    margin-top: auto;
    position: absolute;
    align-self: flex-end;
    color: #c4953d;
    font-size: 18px;
    backdrop-filter: brightness(30%);
  }

@media only screen and (max-width: 600px) {
  .navegator {
    position: absolute;
    width: 100%;
   height: 100vh;
}
.navegator_head {
  padding: 15px 15px 15px 15px;
  height: 20%;
  background-size: cover;
  background-image: url('/img/fondo2.jpg');
}
.footer {
 display: none;
}
}