* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

.header {
  background-size: cover;
  background-image: url('/contactos/img/fondo2.png');
  display: flex;
  height: 200px;
  padding: 0 10px 0 10px;
  color: blanchedalmond;
}

.header__nav ul{
  display: flex;
  justify-content: space-around;
  font-family: 'Indie Flower', cursive;
  list-style: none;
}

.header__logo {
  background-image: url('/contactos/img/img1.png');
  align-self: center;
  background-size: cover;
  outline-style: none;
  border: 4px solid white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.section__content {
  display: flex;
  flex-direction: column;
  font-family: 'Hind Siliguri', sans-serif;
  background-color: #f6f6f6;
  width: 76%;
  height: 99%;
  padding: 10px;
  border: 1px solid rgb(106, 117, 122);
  box-shadow: 0 20px 20px 0 rgba(10, 10, 10, 0.53),0 20px 20px 0 rgba(10, 10, 10, 0.53);
}

.section__content p {
margin-top: 20px;
}

.section__content ul {
  list-style: inside;
}

.titulo {
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
}

.titulo h1 {
  font-size: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Indie Flower', cursive;
  background:rgb(3, 55, 90);
  color: blanchedalmond;
  padding: 0 10px 0 10px;
}

.footer a {
  color: blanchedalmond;
  text-decoration: solid;
}
