.section_content_home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-size: cover;
    background-image: url('./images/fondo2.jpg');
    width: 100%;
    height: 100vh; 
}